/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #0063c6;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 1rem; /* Adjust the gap as needed */
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.main-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    background-color: #f0f4f8;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    background-color: #ffffff; /* White background for the banner */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px; /* Limit the width of the banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
}

.banner h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.quote {
    max-width: 700px; /* Adjust the width as needed */
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.banner p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.banner-link {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
}

.banner-link:hover {
    text-decoration: underline;
}

.video-embed {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 70%;
    padding-bottom: 39.375%; /* 16:9 aspect ratio */
    height: 0;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    margin-top: auto;
    background-color: #0062c4;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30rem;
}

/* styles/global.css */
.breadcrumbs {
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    z-index: 999;
    margin-bottom: 0;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs a {
    text-decoration: none;
    color: #0070f3;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 0.5rem;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000000;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #ffffff;
}

.media-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f8; /* Light background color */
}

.media-item {
    width: 100%;
    max-width: 800px; /* Limit the maximum width */
    background-color: #ffffff; /* White background for media items */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.media-item:hover {
    transform: translateY(-10px); /* Slightly move the item up on hover */
}

.media-item h2 {
    font-size: 24px; /* Larger font size for titles */
    color: #333;
    margin-bottom: 10px;
}

.media-item p {
    font-size: 16px; /* Smaller font size for dates */
    color: #666;
    margin-bottom: 10px;
}

.media-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Rounded corners for images */
    margin-bottom: 10px;
}

.media-item a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.media-item a:hover {
    color: #005bb5; /* Darker color on hover */
    text-decoration: underline;
}

.media-item h3 {
    font-size: 1rem; /* Smaller font size for the date */
    color: #666; /* Optional: change color for better readability */
}

.page-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    background-color: #0062c4;
    color: white;
    padding: 1rem;
}

.main-content img {
    object-fit: cover; /* Ensure the image covers the entire area */
}

.pictures-page img {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    border-radius: 8px; /* Optional: add border radius for styling */
    margin: 1rem;
}

.pictures-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f8; /* Light background color */
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto; /* Add margin for spacing */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflow for rounded corners */
}

.carousel-content {
    text-align: center;
    flex: 1;
    padding: 0 5rem; /* Add padding to create gap between buttons and image */
}


.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #0070f3; /* Button color */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.carousel-button:hover {
    color: #005bb5; /* Darker color on hover */
}

.prev-button {
    left: 0; /* Position to the left */
}

.next-button {
    right: 0; /* Position to the right */
}

.book-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.book-item img {
    width: 400px; /* Set a fixed width for the book image */
    height: 600px; /* Set a fixed height for the book image */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    margin-right: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.book-item img:hover {
    transform: translateY(-10px); /* Move the image up slightly on hover */
}

.book-image-bordered {
    border: 1px solid #ddd; /* Add a thin border */
}

.book-description {
    max-width: 400px;
    font-size: 24px;
    color: #333;
    margin-top: 2rem;
}

.book-additional-text {
    max-width: 400px;
    font-size: 16px;
    color: #333;
    margin-top: 0.5rem;
}

.book-buy-link {
    margin-top: 1rem;
}

.book-buy-link a {
    color: #0070f3;
    text-decoration: none;
}

.book-buy-link a:hover {
    text-decoration: underline;
}

.book-buy-image {
    margin-top: 1rem;
}

.book-buy-image img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

.book-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Add a thin border */
    border-radius: 8px; /* Optional: add border radius for styling */
}

.banner-book-image {
    width: 100px; /* Adjust the size as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.all-books-link {
    color: #0070f3;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    text-align: center;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.all-books-link:hover {
    color: #005bb5; /* Darker color on hover */
    text-decoration: underline;
}


.about-banner {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    max-width: 800px;
    font-size: 1.125rem;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.timeline-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.timeline {
    position: relative;
    padding: 2rem 0;
    width: 100%;
    max-width: 800px;
}

.timeline-line {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 4px;
    background: linear-gradient(to bottom, #8cbbe6 0%, #185cbf 100%);
    transition: height 0.1s ease-out, opacity 0.5s ease-in-out; /* Add opacity transition */
    border-radius: 2px;
    opacity: 0;
}

.timeline-line.visible {
    opacity: 1; /* Fully visible */
}

.timeline-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 80px;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.timeline-item.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 16px;
    background: grey;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background 0.3s ease;
}

.timeline-item.passed::before {
    background: #0070f3; /* Color when passed */
}

.timeline-date {
    position: absolute;
    left: -230px; /* Position the date to the left */
    font-size: 3.25rem; /* Increase font size */
    color: #333; /* Optional: change color for better readability */
    margin-bottom: 0.5rem;
    width: 60px; /* Ensure the date has enough space */
    text-align: right; /* Align text to the right */
}

.timeline-content {
    background: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.timeline-content img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.timeline-content a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.3s;
}

.timeline-content a:hover {
    color: #005bb5;
    text-decoration: underline;
}

.publications-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f8; /* Light background color */
}

.publication-item {
    width: 100%;
    max-width: 800px; /* Limit the maximum width */
    background-color: #ffffff; /* White background for publications */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publication-item:hover {
    transform: translateY(-10px); /* Slightly move the item up on hover */
}

.publication-item h2 {
    font-size: 24px; /* Larger font size for titles */
    color: #333;
    margin-bottom: 10px;
}

.publication-item p {
    font-size: 16px; /* Smaller font size for dates */
    color: #666;
    margin-bottom: 10px;
}

.publication-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Rounded corners for images */
    margin-bottom: 10px;
}

.publication-item a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.publication-item a:hover {
    color: #005bb5; /* Darker color on hover */
    text-decoration: underline;
}

.publication-item h3 {
    font-size: 1rem; /* Smaller font size for the date */
    color: #666; /* Optional: change color for better readability */
}