/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 4px;
}

.main-content {
    margin-top: 5rem; /* Adjust based on the height of the navbar */
    padding: 1rem;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-embed {
    margin: 1rem 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: auto;
    background-color: #eeede8;
    color: #000000;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30rem;
}

/* styles/global.css */
.breadcrumbs {
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs a {
    text-decoration: none;
    color: #0070f3;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000000;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #000000;
}