@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #0063c6;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-items {
    display: flex;
    gap: 1rem; /* Adjust the gap as needed */
    align-items: center;
    flex: 1;
    justify-content: center; /* Center items */
}

.navbar ul {
    display: flex;
    gap: 1rem; /* Adjust the gap as needed */
    align-items: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}


.main-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    background-color: #f0f4f8;
}

html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.index-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
            linear-gradient(121deg, transparent 0%, transparent 55%, rgba(64, 64, 64, 0.04) 55%, rgba(64, 64, 64, 0.04) 76%, transparent 76%, transparent 100%),
            linear-gradient(211deg, transparent 0%, transparent 14%, rgba(64, 64, 64, 0.04) 14%, rgba(64, 64, 64, 0.04) 41%, transparent 41%, transparent 100%),
            linear-gradient(121deg, transparent 0%, transparent 2%, rgba(64, 64, 64, 0.04) 2%, rgba(64, 64, 64, 0.04) 18%, transparent 18%, transparent 100%),
            linear-gradient(211deg, transparent 0%, transparent 61%, rgba(64, 64, 64, 0.04) 61%, rgba(64, 64, 64, 0.04) 71%, transparent 71%, transparent 100%),
            linear-gradient(166deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.banner-image{
    width: 100%; /* Set the width to 100% of the parent container */
    max-width: 1903px; /* Set a maximum width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    align-items: center;
    margin-top: -2px;
}

.banner {
    background-color: #ffffff; /* White background for the banner */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px; /* Limit the width of the banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
}

.banner h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.banner-container {
    position: relative;
    width: 100%;
    max-width: 1903px;
    margin: 0 auto;
}

.quote {
    max-width: 700px; /* Adjust the width as needed */
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.banner p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.banner-link {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
}

.banner-link:hover {
    text-decoration: underline;
}

.video-embed {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    padding-bottom: 39.375%; /* 16:9 aspect ratio */
    height: 70%;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    margin-top: auto;
    background-color: #0062c4;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-content span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.footer-content p {
    margin: 0;
    margin-left: auto;
}

.footer-link {
    color: #ffcc00;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* styles/global.css */
.breadcrumbs {
    padding: 0.5rem;
    background: inherit;
    border-bottom: 1px solid #ddd;
    z-index: 999;
    margin-bottom: 0;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs a {
    text-decoration: none;
    color: #f4b63e;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 0.5rem;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f4b63e;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #f4b63e;
}

.media-page {
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.05) 0px, rgba(0,0,0,0.05) 2px, transparent 2px, transparent 4px),
    linear-gradient(0deg, rgb(0, 97, 194), rgb(244, 182, 62));
}

.media-item {
    width: 550px; /* Set a fixed width */
    height: 500px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 5px 4px 1px rgb(13, 31, 58);
    border: 2px solid #0e233c;
    border-radius: 8px;
    text-align: center;
    background-color: #f7d89c;
    margin: 1rem;
    margin-top: 2rem;
}

.media-item:hover {
    transform: translateY(-10px); /* Slightly move the item up on hover */
}

.media-item h2 {
    font-size: 24px; /* Larger font size for titles */
    color: #333;
    margin-bottom: 10px;
}

.media-item p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.media-item img[src*="APA.jpg"],
.media-item img[src*="cornell.png"],
.media-item img[src*="feedback.jpg"],
.media-item img[src*="chapraz.png"],
.media-item img[src*="theatre.jpg"] {
    max-width: 60%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 8px; /* Maintain the rounded corners */
}

.media-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 8px;
}

.media-item a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.media-item a:hover {
    color: #005bb5; /* Darker color on hover */
    text-decoration: underline;
}

.media-item h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    background-color: #0062c4;
    color: white;
    padding: 1rem;
}

.pictures-page img {
    width: 120%; /* Ensure the image takes the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    border-radius: 8px; /* Optional: add border radius for styling */
    margin: 1rem;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
    max-width: 900px;
    margin: 2rem auto; /* Add margin for spacing */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflow for rounded corners */
}

.carousel-content {
    text-align: center;
    flex: 1;
    padding: 0 5rem; /* Add padding to create gap between buttons and image */
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0); /* Button color */
    transition: color 0.3s; /* Smooth transition for hover effect */
    background-color: transparent; /* Ensure background is transparent */
    z-index: 1;
}

.carousel-button:hover {
    color: #000000; /* Keep arrow color black on hover */
}

/* styles/global.css */
.carousel-counter {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.prev-button {
    left: 0; /* Position to the left */
}

.next-button {
    right: 0; /* Position to the right */
}

/* styles/global.css */
.books-page {
    --s: 50px; /* control the size */
    --c1: #774f38;
    --c2: #f1d4af;

    --g: conic-gradient(at 90% 40%, #0000 75%, var(--c1) 0);
    background: var(--g), var(--g) var(--s) var(--s) var(--c2);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));

    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.book-item {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000; /* Add a thin border */
    border-radius: 8px; /* Optional: add border radius for styling */
    background-color: rgba(255, 255, 255, 0.93); /* Set the background color */
}

.book-item img {
    width: 400px; /* Set a fixed width for the book image */
    height: 600px; /* Set a fixed height for the book image */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    margin-right: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.book-image-bordered {
    border: 1px solid #ddd; /* Add a thin border */
}

.book-description {
    max-width: 400px;
    font-size: 24px;
    color: #333;
    margin-top: 2rem;
}

.book-additional-text {
    max-width: 400px;
    font-size: 16px;
    color: #333;
    margin-top: 0.5rem;
}

.book-buy-link {
    margin-top: 1rem;
}

.book-buy-link a {
    color: #0070f3;
    text-decoration: none;
}

.book-buy-link a:hover {
    text-decoration: underline;
}

.book-buy-image {
    margin-top: 1rem;
}

.book-buy-image img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

.book-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000; /* Add a thin border */
    box-shadow: 5px 6px 1px rgb(0, 0, 0); /* Subtle shadow */
    border-radius: 8px; /* Optional: add border radius for styling */
}

.banner-book-image {
    width: 100px; /* Adjust the size as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* styles/global.css */
.blue-banner {
    background-color: rgb(0, 98, 196);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Ensure the banner takes the full width of the page */
    max-width: none; /* Remove any maximum width constraints */
    height: auto;
}


.left-images {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* Space below the images */
}

.left-images img {
    width: auto; /* Ensure the width is auto */
    height: auto; /* Ensure the height is auto */
    max-width: 200px; /* Set a maximum width if needed */
    margin: 0 0.5rem; /* Space between images */
}

.book-image-books {
    max-width: 90%;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    left: 12rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    outline: none;
}

.book-image-books:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.book-image-index {
    max-width: 70%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}

.book-image-index:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

.right-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    color: #ffffff;
    font-size: 5rem;
}

.available-images {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.available-images img {
    width: 10rem; /* Adjust the size as needed */
    height: auto;
    object-fit: contain;
}

.all-books-link {
    margin-top: 1rem; /* Add some space above the link */
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.all-books-link:hover {
    color: #9fffff;
    text-decoration: underline;
}

.about-banner {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 20px;
    border: 2px solid #1d3b65; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Add space between the border and the image */
}

.about-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    max-width: 800px;
    font-size: 1.125rem;
    color: #000000;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.publications-page {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* Light background color */
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.publication-item {
    width: 100%; /* Set the width to 100% of the parent container */
    max-width: 1000px; /* Set a maximum width */
    height: auto; /* Maintain the aspect ratio */
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.publication-item:hover {
    transform: translateY(-10px); /* Slightly move the item up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the shadow */
}

.publications-page .publication-item .publication-title {
    font-size: 1.5rem; /* Larger font size for titles */
    color: #000000;
    margin-bottom: 5px;
    font-weight: bold;
}

.publications-page .publication-item .publication-year {
    font-size: 1.5rem; /* Smaller font size for the year */
    color: #333;
    margin-bottom: 5px;
}

.publications-page .publication-item .publication-authors {
    font-size: 0.75rem; /* Smaller font size for authors */
    color: #666;
}

.publication-item h2 {
    font-size: 24px; /* Larger font size for titles */
    color: #333;
    margin-bottom: 10px;
}

.publication-item p {
    font-size: 16px; /* Smaller font size for dates */
    color: #666;
    margin-bottom: 10px;
}

.publication-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Rounded corners for images */
    margin-bottom: 10px;
}

.publication-item a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.publication-item a:hover {
    color: #005bb5; /* Darker color on hover */
    text-decoration: underline;
}

.publication-item h3 {
    font-size: 1rem; /* Smaller font size for the date */
    color: #666; /* Optional: change color for better readability */
}


.publication-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.publication-title {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.publication-authors {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.publication-year {
    font-size: 2rem; /* Larger font size for the year */
    color: #333;
    margin-bottom: 0.5rem;
}

.index-publication-item {
    background-color: #000000;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin: 0.5rem;
    cursor: pointer;
}

.index-publication-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.index-publication-title {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.index-publication-authors {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.index-publication-year {
    font-size: 0.875rem;
    color: #999;
}

.recent-publications-title {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.more-publications-button {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.more-publications-button:hover {
    background-color: #a89788;
}

.search-page {
    padding: 2rem;
    background-color: #fff;
}

.search-results {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.result-section {
    margin-bottom: 40px;
}

.result-section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.result-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.result-item h3 {
    margin-top: 0;
    font-size: 20px;
}

.result-item p {
    margin: 10px 0;
}

.result-item a {
    display: inline-block;
    margin-right: 10px;
}

.result-item img {
    max-width: 200px;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 1rem;
}

.search-result-item {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #0f2571;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0b519f;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #005bb5;
}

.pictures-section {
    text-align: center;
    margin: 20px 0;
}

.pictures-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.navbar .amir-raz {
    font-size: 2rem; /* Adjust the size as needed */
}

.navbar .amir-raz:hover {
    color: #f4b63e;
}

.amir-raz-item {
    margin-left: auto;
}

.about-index {
    color: #ffffff; /* Initial color */
    transition: color 0.3s; /* Smooth transition for color change */
}

.about-index:hover {
    color: #f4b63e; /* Color on hover */
}

/* styles/global.css */
.contact-page {
    padding: 2rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.page-content-wrap {
    background-color: #ffffff; /* White background for content */
    padding: 2rem;
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #000000; /* Light border */
    box-shadow: 5px 6px 1px rgb(0, 0, 0); /* Subtle shadow */
    max-width: 1000px; /* Limit width */
    width: 100%;
    margin-top: -1.75rem;
}

.hestia-title {
    font-size: 2rem; /* Larger title */
    color: #333; /* Darker text color */
    margin-bottom: 1rem; /* Space below title */
    text-align: center; /* Centered title */
}

.page-content-wrap p {
    font-size: 1rem; /* Consistent font size */
    color: #000000; /* Medium text color */
    line-height: 1.6; /* Better line spacing */
    margin-bottom: 1rem; /* Space below paragraphs */
}

.wpforms-container {
    width: 100%;
}

.wpforms-title {
    font-size: 1.5rem; /* Larger form title */
    color: #000000; /* Darker text color */
    margin-bottom: 1rem; /* Space below form title */
    text-align: center; /* Centered form title */
}

.wpforms-field-container {
    display: flex;
    flex-wrap: wrap; /* Wrap fields */
    gap: 1rem; /* Space between fields */
}

.wpforms-field {
    flex: 1 1 calc(50% - 1rem); /* Two columns layout */
    min-width: 200px; /* Minimum width */
}

.wpforms-field label {
    font-size: 0.875rem; /* Smaller label */
    color: #000000; /* Darker text color */
    margin-bottom: 0.5rem; /* Space below label */
    display: block; /* Block display */
}

.wpforms-field input,
.wpforms-field select,
.wpforms-field textarea {
    width: 100%;
    padding: 0.75rem; /* Larger padding */
    font-size: 1rem; /* Consistent font size */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.wpforms-field textarea {
    resize: vertical; /* Allow vertical resize */
    min-height: 150px; /* Minimum height */
}

.wpforms-submit-container {
    text-align: center; /* Centered button */
    margin-top: 1rem; /* Space above button */
}

.wpforms-submit {
    padding: 0.75rem 1.5rem; /* Larger padding */
    font-size: 1rem; /* Consistent font size */
    color: #fff; /* White text */
    background-color: #000000; /* Primary color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
}

.wpforms-submit:hover {
    background-color: #f4b63e;
}

/* styles/global.css */
.wpforms-field-radio ul {
    list-style: none;
    padding: 0;
}

.wpforms-field-radio li {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Adjust the gap as needed */
}

.wpforms-field-radio input {
    margin-left: 0.5rem; /* Adjust the space between the text and the radio button */
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.recent-media-banner {
    width: 100%;
    margin: 0;
    padding: 20px; /* Add padding for better spacing */
    background-color: #f4b63e; /* Light background color */
}

.media-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.media-card {
    background: rgba(255, 255, 255, 0.49);
    border: 1px solid #1d3b66;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    transition: transform 0.2s;
    box-shadow: 5px 6px 1px rgb(13, 31, 55);
}

.media-card:hover {
    transform: translateY(-5px);
}

.media-card-content {
    padding: 20px;
    text-align: center;
}

.media-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.media-card p {
    margin: 0;
    color: #555;
}

/* styles.css or a specific CSS module */
.banner-title {
    font-size: 2.5rem; /* Adjust the size as needed */
    font-weight: bold;
    color: #0062c4; /* Darker text color */
    margin-bottom: 1rem; /* Space below the title */
    text-align: center; /* Centered title */
}

/* styles.css or a specific CSS module */
.more-media-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0061c2;
    color: #d8d8da;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.more-media-button:hover {
    background-color: #1d3b66;
}

.media-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.media-video, .media-audio {
    width: 100%;
    height: 0;
    border-radius: 8px;
    margin-top: 10px;
    padding-bottom: 56.25%;
    position: relative;
}

.media-video iframe, .media-audio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.new-release-text {
    font-size: 4rem; /* Adjust the size as needed */
    font-weight: bold;
    color: #d8d8da; /* White text color */
    text-align: center;
    margin-bottom: 1rem; /* Space below the text */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide hamburger menu on desktop */
    }

    .navbar-items, .search-form {
        visibility: visible; /* Ensure all items are visible on desktop */
        position: relative; /* Normal positioning */
        opacity: 1; /* Fully visible */
        display: flex; /* Display as flex */
    }
}

@media (max-width: 768px) {

    .media-item {
        width: 100%; /* Full width on mobile */
        height: auto; /* Adjust height to content */
        margin: 0.5rem; /* Smaller margin */
    }

    .scroll-down-arrow {
        font-size: 2rem; /* Increase size for easier tapping */
        padding: 10px; /* Add some padding around the arrow */
    }

    .dot {
        width: 12px; /* Increase dot size */
        height: 12px; /* Increase dot size */
        cursor: pointer; /* Show pointer cursor on hover */
    }


    .navbar-items, .search-form {
        visibility: hidden; /* Hide items */
        position: absolute; /* Remove from the document flow */
        opacity: 0; /* Make it invisible */
        transition: visibility 0s, opacity 0.3s ease-in-out; /* Smooth transition */
    }

    .hamburger {
        display: block; /* Show hamburger on mobile */
        position: absolute;
        left: 20px; /* Adjust this value to control the distance from the left */
        top: 20px; /* Adjust this value to control the distance from the top */
        font-size: 2rem; /* Increase the size of the hamburger icon */
        cursor: pointer;
    }

    /* When the menu is open, show the links and search bar */
    .navbar-items.open, .search-form.open {
        visibility: visible;
        position: relative;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the items horizontally */
        justify-content: center; /* Center the items vertically */
        text-align: center; /* Center the text */
        width: 100%; /* Take full width of navbar */
    }


    .search-form.open {
        margin-top: 20px; /* Add spacing above the search bar */
    }

    .search-input {
        width: 80%; /* Make search input take up 80% of the width */
        padding: 10px; /* Add padding for better spacing */
    }

    .search-button {
        width: 50%; /* Make the button smaller */
        padding: 10px;
    }

    .amir-raz-item {
        margin: 0 auto; /* Center the logo horizontally */
        display: flex;
        justify-content: center;
        width: 100%; /* Ensure it takes full width */
    }

    .banner-text {
        font-size: 0.5rem;
        padding: 0.5rem;
    }

    .banner-subtext {
        font-size: 0.75rem;
    }

    .scroll-down-arrow {
        font-size: 1.5rem;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-items {
        flex-direction: column;
        gap: 0.5rem;
    }

    .blue-banner {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .left-images img {
        max-width: 100px;
    }

    .book-image-index {
        max-width: 90%;
    }

    .recent-media-banner, .recent-publications-banner {
        padding: 10px;
    }

    .media-card {
        width: 100%;
        margin: 10px 0;
    }

    .index-publication-item {
        width: 100%; /* Adjust the width as needed */
        max-width: 400px; /* Set a maximum width */
        padding: 1rem; /* Adjust the padding */
        margin: 10px auto; /* Center the items and add margin */
    }

    .media-cards, .recent-publications-cards {
        flex-direction: column;
        align-items: center;
    }

    .more-media-button, .more-publications-button {
        width: 100%;
        padding: 10px;
    }

    .main-content.index-page {
    }

    .banner {
        width: 100%;
        padding: 1rem;
    }

    .book-item {
        flex-direction: column;
        align-items: center;
    }

    .book-item img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .book-description, .book-additional-text {
        max-width: 100%;
        text-align: center;
    }

    .publication-item {
        flex-direction: column;
        align-items: center;
    }

    .publication-item img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .publication-title, .publication-authors, .publication-year {
        text-align: center;
    }

    .search-results {
        padding: 1rem;
    }

    .result-item {
        flex-direction: column;
        align-items: center;
    }

    .result-item h3, .result-item p {
        text-align: center;
    }
    .hamburger {
        display: block;
    }

    .nav-links, .search-bar {
        display: none;
    }

    .nav-links.active, .search-bar.active {
        display: block;
    }

    .footer-content {
        display: flex;
        justify-content: space-between; /* Distribute space between items */
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer-content span {
        position: static; /* Remove absolute positioning */
        margin-left: 2rem; /* Adjust the margin to move text to the left */
    }

    .footer-content p {
        margin-right: 1rem; /* Adjust the margin to move text to the right */
        text-align: right; /* Ensure text is aligned to the right */
    }

    .banner-text .banner-subtext {
        font-size: 0.75rem; /* Adjust the font size for mobile view */
    }

    .about-index {
        font-size: 1rem; /* Adjust the font size for mobile view */
    }
    .slideshow .banner-text {
        font-size: 2rem; /* Example adjustment */
    }

    .slideshow .scroll-down-arrow {
        font-size: 2rem; /* Example adjustment */
    }

    .slideshow-image {
        width: 100%; /* Make images fill the container width */
        height: auto; /* Maintain the aspect ratio */
        max-height: 300px; /* Set a maximum height if desired */
        object-fit: cover; /* Optional: ensures the image covers the area */
    }

    .recent-publications-cards {
        width: 290%; /* Increase the width to 90% for mobile view */
    }

}

/* styles/global.css */
.top-image {
    position: relative;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #ddd;
}

.nav-link.active-link {
    color: #f4b63e;
}

.banner-text {
    background-color: rgba(37, 68, 112, 0.97);
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #000000;
    box-shadow: 5px 6px 1px rgb(0, 0, 0);
    margin: 1rem auto;
    position: absolute;
    top: 40%; /* Adjust as needed */
    left: 19%; /* Move slightly to the left */
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 4.5rem; /* Adjust font size as needed */
    width: 35%; /* Adjust width as needed */
}

.banner-subtext {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 0.5rem; /* Adjust margin as needed */
}

.scroll-down-arrow {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* Adjust size as needed */
    cursor: pointer;
    color: #1d3b66; /* Adjust color as needed */
    background: rgb(216, 216, 218); /* Optional: background for better visibility */
    padding: 5px 18px; /* Optional: padding for better click area */
    border-radius: 5px; /* Optional: rounded corners */
    transition: transform 0.3s;
}

.scroll-down-arrow:hover {
    transform: translateX(-50%) translateY(5px); /* Slight movement on hover */
}

.slideshow {
    position: relative;
    width: 100%;
    max-width: 1950px;
    margin: auto;
    overflow: hidden;
}

.slideshow-image {
    width: 100%;
    height: 850px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-image.active {
    opacity: 1;
    position: relative;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: calc(50% + 75px); /* Position to the right of the down arrow */
    transform: translateX(-50%);
    width: auto; /* Adjust width as needed */
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.dot:hover {
    background-color: #dfd297;
    width: 11px;
    height: 11px;
}

.dot.active {
    width: 15px;
    height: 15px;
    background-color: #f4b63e;
}

/* styles/global.css */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow:hover {
    background: rgba(255, 255, 255, 1);
}

/* styles/global.css */
.recent-publications-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fff; /* Light background color */
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.recent-publications-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.index-publication-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.index-publication-year {
    font-size: 0.875rem;
    color: #999;
}

.more-publications-button {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.more-publications-button:hover {
    background-color: #a89788;
}

.invite-tile {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.invite-tile:hover {
    transform: scale(1.05); /* Slightly enlarge the tile on hover */
}

.invite-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    max-width: 1400px;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}

.invite-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    position: absolute;
    top: 20%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 90%; /* Adjust as needed */
    z-index: 1; /* Ensure it is above other elements */
}



.invite-image {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.invite-tile:hover .invite-image {
    transform: scaleX(1.1); /* Expand horizontally on hover */
}

.invite-image-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
}

.invite-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.invite-description {
    font-size: 1.125rem;
    color: #666;
    margin-bottom: 1.5rem;
    text-align: center;
}

.invite-details {
    position: absolute;
    top: 50%; /* Center the description vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    color: #fff;
}

.invite-tile:hover .invite-title-overlay,
.invite-tile:hover .invite-details,
.invite-tile:hover .invite-button {
    opacity: 1;
}

.invite-button {
    position: absolute;
    bottom: 10%; /* Position the button at the bottom */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
}

.invite-button:hover {
    background-color: #005bb5;
}